.DS_Store
.idea/
DerivedData/
build/
*.swp
*.xccheckout
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

.env
.env.*
!.env.example
bin/
data/
*.db
*.db-wal
*.db-shm
compose.yaml
__pycache__/
